**/HELP.md
**/target/
!**/src/main/**
!**/src/test/**
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.vscode/
**/.idea
**/dist
**/tmp
**/out-tsc
**/node_modules
**/.angular
**/package-lock.json
**/pnpm-lock.yaml
**/.DS_Store
**/Thumbs.db