.container {
    height: 100%;
}

.sidenav-content {
    width: 100%;
}

.sidenav-button {
    white-space: normal;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}